<div class="header">
    <div>
        <ul>
            <li>
                <a routerLink="/app-main1">Главное</a>
            </li>
            <li>
                <a routerLink="/app-serials">Сериалы</a>          
                <ul>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Боевики</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Детективы</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Драмы</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Комедии</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Триллеры</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Фентези</a>
                    </li>
                </ul>
            </li>
            <li>
                <a routerLink="/app-film">Фильмы</a>    
                <ul>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Детективы</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Комедии</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Боевики</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Драмы</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Вестерны</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Фентези</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Научные</a>
                    </li>
                    <li id="li-inside">
                        <a href="#" id="a-inside">Мьюзиклы</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    
    <div class="search">
        <form>
            <input name="s" placeholder="Искать здесь..." type="search">
            <button type="submit"></button>
        </form>
    </div>
</div>
